@require('../shared/partials/head-pre.ejs')
@require('../shared/partials/head-inner.ejs')
@require('../shared/partials/head-post.ejs')
<main>
	<nav>
		<div id="skiptocontent">
			<!-- Skiplink copied from http://webaim.org/ -->
			<a href="#maincontent">Skip to main content</a>
		</div>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="../games/index.html">Games</a></li>
			<li><a href="../art/index.html">Art</a></li>
			<li><a href="../experiments/index.html">Experiments</a></li>
			<li><b>Blog</b></li>
			<li><a href="../music/index.html">Music</a></li>
			<li><a href="../about/index.html">About</a></li>
		</ul>
	</nav>

	<section id="maincontent">
		<h1>Blog</h1>
		<h2><small>Jamie</small></h2>
			<p><a href="http://jamiedoesfood.tumblr.com/">Jamie's Food Blog</a>
			</p>

		<h2><small>Alex</small></h2>
			<p><a href="http://birchlabs.livejournal.com/">Old blog</a>
			</p>
	</section>

	<footer>
		<p>&copy; Alex Birch &amp; Jamie Birch 2016</p>
		<p>Styling: <a href="https://github.com/mblode/marx">Matthew Blode's Marx CSS</a></p>
	</footer>
</main>
@require('../shared/partials/body-inner-foot.ejs')
@require('../shared/partials/body-post.ejs')