@require('../shared/partials/head-pre.ejs')
@require('../shared/partials/head-inner.ejs')
@require('../shared/partials/head-post.ejs')
<main>
	<nav>
		<div id="skiptocontent">
			<!-- Skiplink copied from http://webaim.org/ -->
			<a href="#maincontent">Skip to main content</a>
		</div>
		<ul>
			<li><a href="../index.html">Home</a></li>
			<li><a href="../games/index.html">Games</a></li>
			<li><b>Art</b></li>
			<li><a href="../experiments/index.html">Experiments</a></li>
			<li><a href="../blog/index.html">Blog</a></li>
			<li><a href="../music/index.html">Music</a></li>
			<li><a href="../about/index.html">About</a></li>
		</ul>
	</nav>

	<section id="maincontent">
		<h1>Art</h1>
		<h2><small>Jamie</small></h2>
		<p>
		Active <a href="http://jamie-b.deviantart.com/">DeviantArt</a> feed.
		</p>

		<h2><small>Alex</small></h2>
		<p><a href="http://www.flickr.com/photos/25220800@N02/sets/">Old Flickr account</a> with still-life drawings and photography.
		</p>
		<h3><small>Addenda</small></h3>
		<p>
		A <a href="http://birchlabs.livejournal.com/16613.html" alt="sketch of Shirai Kuroko">couple</a> of <a href="http://birchlabs.livejournal.com/15647.html">more recent</a> manga drawings.
		</p>
	</section>

	<footer>
		<p>&copy; Alex Birch &amp; Jamie Birch 2016</p>
		<p>Styling: <a href="https://github.com/mblode/marx">Matthew Blode's Marx CSS</a></p>
	</footer>
</main>
@require('../shared/partials/body-inner-foot.ejs')
@require('../shared/partials/body-post.ejs')